/* iconfont
------------------- */
// $--font-path= './fonts/';
// $--font-family= 'iconfont';
// $--icon-size= 16px;

/* color
-------------------- */
$--default-theme-color= #409eff ;

$--primary-color= $--default-theme-color ;
$--warning-color= #f8c555 ;
$--success-color= #5cbb7a ;
$--error-color= #f56c6c ;

/* text
-------------------- */
$--small-text= 14px ;
$--medium-text= 18px ;
$--large-text= 22px ;
